@import url('https://fonts.googleapis.com/css?family=Exo+2:500|Roboto+Condensed&display=swap');

.bg-tertiary {
    background-color: #f1f1f1;
}

.container.section-header {
    padding-top: 30px;
}

.section-header h1 {
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    padding-bottom: 40px;
    color: #3668b5;
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
}